@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
* {
  box-sizing: border-box;
}


body {
  margin: 0;

  color: white;
  font-family: "Montserrat";
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background: url("../Images/bg-1.jpg");
  background-size: cover;
  background-color: #0077c8;
}

.wrapper {
  padding: 1em 3em;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.wrapper_Two {
  background-color: #0f3661;
  padding: 1em;
}
header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-weight: bold;
}
header ul {
  display: flex;
}
header ul li a {
  padding: 0 0.6em;
}

.hero-content {
  margin: 4em 0 6em;
}
.hero-content .subtitle {
  margin-bottom: 0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: space-around;
  margin-top: 2em;
}

.stats strong {
  font-size: 1.4em;
}
.stats span {
  font-size: 0.75em;
  text-transform: uppercase;
}

.arrows {
  display: none;
}

.extended-wrapper {
  padding: 1em;
  max-width: 1230px;
  margin: 0 auto;
}

ul.carousal {
  margin-bottom: 1em;
}
ul.carousal li {
  background-color: #0f3661;
  padding: 1em;
  margin-bottom: 1em;
}

blockquote {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.8em;
  margin-bottom: 1em;
}

cite {
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  font-style: normal;
  position: relative;
  padding-left: 25px;
}

cite::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 6px;
  height: 1px;
  width: 20px;
  border-bottom: 1px solid white;
}

h2 {
  text-align: center;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  top: -0.3em;
  height: 5px;
  width:100px;
  background: #0e4366;
}

.companies {
  text-align: center;
}

.companies .skillshare {
  width: 100px;
}
.companies .ps {
  width: 100px;
}
.stats li {
  border-right: 3px solid #fff;
  padding: 1% 4%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.stats > li > span {
  padding-left: 0.5em;
}
.stats > li > strong {
  color: #f25454;
  font-size: 1.5em;
}
.stats li:last-child {
  border: 0;
}

@media (min-width: 500px) {
  .companies {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 650px) {
  body {
    font-size: 18px;
  }

  .Wrapper {
    padding: 0.5em 1em;
  }

  .carousal-container {
    display: flex;
  }

  .arrows {
    display: block;
    width: 40px;
    cursor: pointer;
    margin: 0.5em;
  }

  .right {
    transform: rotateZ(180deg);
  }

  ul.carousal {
    display: flex;
    margin-bottom: 0;
  }
  ul.carousal li {
    margin-right: 1em;
    margin-bottom: 0;
    padding: 2em;
    width: 100%;
  }
  ul.carousal li:last-child {
    margin-right: 0;
  }

  .companies {
    display: flex;
    justify-content: space-between;
  }
}

body {
  font-size: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.companies {
  grid-template-columns: repeat(4, auto);
}

h1 {
  font-size: 2.5em;
}

.subtitle {
  font-size: 1.2em;
}

h2 {
  text-align: center;
  font-size: 1.7em;
}

.v-padding {
  padding: 4em;
}

.light-purple-wrapper {
  padding-bottom: 4em;
}

.move-up {
  display: grid;
}

.Section_Three {
  color: #0f3661;
  padding: 1em;
}

.item {
  width: 100px;
  margin: 0 auto
}